<div class="container color-dark">
    <div class="col">
      <p>Add a new activity</p>
    </div>
    <div class="col">
      <p>To-do list( {{ itemCount }} )</p>
    </div>
</div>
<div class="container color-light" [@goals]="goals.length">
    <div class="col">
      <p class="sm">Add a new activity. </p> 
      <form>
        <input type="text" class="txt" name="item" placeholder="New Activity..." [(ngModel)]= "goalText" >
        <br><span>{{ goalText }}</span><br>
        <input type="submit" class="btn" [value]= "btnText" (click)="addItem()"> <!-- property binding for value-->
      </form>
    </div>
    <div class="col">
        <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">{{ goal }}</p>
    </div>
</div>